phpunit.xml
composer.lock
composer.phar
/vendor/
.phpunit.result.cache 
.env
bootstrap/cache/config.php
bootstrap/cache/routes.php
bootstrap/cache/services.php
storage/framework/sessions
storage/framework/views
storage/logs
public_html/index.php
public_html/storage
node_modules/
package-lock.json
yarn.lock
README.md
CONTRIBUTING.md
License.txt
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/artifacts.xml
/.idea/dataSources.xml